.squares div {
	height: 50px;
	width: 50px;
	border: 1px solid grey;
	border-radius: 2px;
	display: inline-block;
	/*position: fixed;*/
}

#container {
	background-color: teal;
}

header {
	width: 100%;
	display: block;
	height: 100px;
	background-color: lime;
}