#battlefield #knight{
	height: 100px;
	width: 100px;
	background-image: url('sprites/knight2.png');
	display: inline-block;
/*	overflow: hidden;
	clear: both;*/
/*	position: absolute;*/
/*	bottom: 0;*/


}

#battlefield #zombie {
	vertical-align: top;
	height: 100px;
	width: 80px;
	background-image: url('sprites/zombie_0.png');
	display: inline-block;
}

#battlefield #goblin {

	height: 100px;
	width: 80px;
	background-image: url('sprites/goblin.png');
	display: inline-block;
}

#battlefield #wizard {
	height: 32px;
	width: 25px;
	background-image: url('sprites/wizard spritesheet calciumtrice.png');
	display: inline-block;
/*	position: absolute;
	bottom: 0;*/
}

#battlefield #orc {

	height: 32px;
	width: 25px;
	background-image: url('sprites/orc spritesheet calciumtrice.png');
	display: inline-block;
}

#battlefield #tentacle {
	vertical-align: top;
	height: 90px;
	width: 25px;
	background-image: url('sprites/spritesheets/tentacles-25x90.png');
	display: inline-block;
}

#battlefield #minion {
	vertical-align: top;
	height: 66px;
	width: 45px;
	background-image: url('sprites/spritesheets/minion-45x66.png');
	display: inline-block;
}

#battlefield #shadow {
	height: 80px;
	width: 70px;
	background-image: url('sprites/spritesheets/shadow-80x70.png');
	display: inline-block;
}

#battlefield #dwarf {
	vertical-align: bottom;
	height: 90px;
	width: 100px;
	background-image: url('sprites/spritesheets/gnu-120x100.png');
	display: inline-block;
/*	position: absolute;
	bottom: 0;*/
}
#battlefield #mage {
	height: 100px;
	width: 120px;
	background-image: url('sprites/spritesheets/mage-2-122x110.png');
	display: inline-block;
/*	position: absolute;
	bottom: 0;*/
}

#battlefield #medusa {
	vertical-align: top;
	height: 88px;
	width: 57px;
	background-image: url('sprites/spritesheets/andromalius-57x88.png');
	display: inline-block;
}

#battlefield #hero {

	height: 100px;
	width: 90px;
	background-image: url('sprites/knight.png');
	display: inline-block;
/*	position: absolute;
	bottom: 0;*/
}

#battlefield #baby {

	height: 25px;
	width: 50px;
	background-image: url('sprites/Ye_Oldy_Knight_Guy.png');
	display: inline-block;
/*	position: absolute;
	bottom: 0;*/
}

#battlefield #lich {
	vertical-align: top;
	height: 100px;
	width: 87px;
	background-image: url('sprites//spritesheets/mage-3-87x110.png');
	display: inline-block;
}

#round {
	float: left;
	display: inline-block;
	width: 60px;
}

#gold {
	float: right;
	display: inline-block;
	width:60px;
}

/*button {
	float: left;
	display: inline-block;
}*/
/*
.img-div {
	text-align: center;
}*/



#battlefield {

	position: relative;
	height: 150px;
	/*border: 2px solid red;*/
	width: 100%;
	/*bottom: 110px;*/
	margin-left: auto;
	margin-right: auto;
	margin-top: -3px;
	/*left: 58.25px;
	right: 58.25px;*/
	background: linear-gradient(#913202, #cdfa86);
	padding: 20px;
	text-align: center;
/*	display:block;
    overflow:hidden;*/
	
}


#market {
 	width: 100%;
}

#battlefield p {
	text-align: center;
	padding: 22px;

}

img {
	width: 80%;
	height: 550px;
	margin: 0 auto;
	display: block;
	
}

body {
	background: linear-gradient(#080f1a, #59926a)
}

#modal {
	
	height: 50px;
	margin: 0 auto;
	text-align:center;
}

#outer
{
    width:100%;
    text-align: center;
 
}
.inner
{
    display: inline-block;
}

button { 
    color:#050; 
    font: old 84% 'trebuchet ms',helvetica,sans-serif; 
    background-color:#fed; 
    border:1px solid; 
    border-color: #696 #363 #363 #696; 
}

#exitShop {
	margin-bottom: 20px;
}
/*a {
	width: 80%;
	height: 650px;
	margin: 0 auto;
	display: block;
}*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em,  ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}