
#modal1divcontainer{
	position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

}

#modal1div {
		background-color: #060B11;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px; 
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
    text-align: center;
    color: white;
}

#modal2div {
		
		display: none;
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 63%; /* Could be more or less, depending on screen size */
    color: white;
    background-color: #060B11;
    text-align: center;
}




h1 {
	text-align: center;
	color: white;
	

	
}

.img-div h2 {
	display: absolute;
	font-family:  Helvetica;
	text-align: center;
	margin-top: 5px;
	font-style: italic;
	color: white;
	
	

}

#battlefield #knight{
	height: 100px;
	width: 100px;
	background-image: url('sprites/knight2.png');
	display: inline-block;
/*	overflow: hidden;
	clear: both;*/
/*	position: absolute;*/
/*	bottom: 0;*/


}

#battlefield #zombie {
	/*vertical-align: top;*/
	height: 100px;
	width: 80px;
	background-image: url('sprites/zombie_0.png');
	display: inline-block;
}

#battlefield #goblin {

	height: 100px;
	width: 80px;
	background-image: url('sprites/goblin.png');
	display: inline-block;
}

#battlefield #wizard {
	margin-top: 10px;
	height: 32px;
	width: 25px;
	background-image: url('sprites/wizard spritesheet calciumtrice.png');
	display: inline-block;
/*	position: absolute;
	bottom: 0;*/
}

#battlefield #orc {
	margin-top: 67px;
	height: 32px;
	width: 25px;
	background-image: url('sprites/orc spritesheet calciumtrice.png');
	display: inline-block;
}

#battlefield #tentacle {
/*	vertical-align: top;*/
	height: 90px;
	width: 25px;
	background-image: url('sprites/spritesheets/tentacles-25x90.png');
	display: inline-block;
}

#battlefield #minion {
/*	vertical-align: top;*/
	margin-top: 34px;
	height: 66px;
	width: 45px;
	background-image: url('sprites/spritesheets/minion-45x66.png');
	display: inline-block;
}

#battlefield #shadow {
	height: 80px;
	width: 70px;
	background-image: url('sprites/spritesheets/shadow-80x70.png');
	display: inline-block;
}

#battlefield #dwarf {
	vertical-align: bottom;
	height: 90px;
	width: 100px;
	background-image: url('sprites/spritesheets/gnu-120x100.png');
	display: inline-block;
/*	position: absolute;
	bottom: 0;*/
}
#battlefield #mage {
	height: 100px;
	width: 120px;
	background-image: url('sprites/spritesheets/mage-2-122x110.png');
	display: inline-block;
/*	position: absolute;
	bottom: 0;*/
}

#battlefield #medusa {
/*	vertical-align: top;*/
	margin-top: 12px;
	height: 88px;
	width: 57px;
	background-image: url('sprites/spritesheets/andromalius-57x88.png');
	display: inline-block;
}

#battlefield #hero {

	height: 100px;
	width: 90px;
	background-image: url('sprites/knight.png');
	display: inline-block;
/*	position: absolute;
	bottom: 0;*/
}

#battlefield #baby {

	height: 25px;
	width: 50px;
	background-image: url('sprites/Ye_Oldy_Knight_Guy.png');
	display: inline-block;
/*	position: absolute;
	bottom: 0;*/
}

#battlefield #lich {
/*	vertical-align: top;*/
	height: 100px;
	width: 87px;
	background-image: url('sprites//spritesheets/mage-3-87x110.png');
	display: inline-block;
}

#round {
	background-color: orange;
	border-radius:6px;
	/*float: right;*/
	right: 17px;
	/*top: 22px;*/
/*	margin-left: 17px;
	margin-top: -87px;*/
	width:90px;
	position: absolute;
	bottom: 0;
	font-family: 'trebuchet ms',helvetica,sans-serif; 
}

#gold {
	border-radius:6px;
	vertical-align: top;
	float: left;
	display: inline-block;
	width:70px;
	background-color: gold;
	margin-left: 17px;
	/*margin-top: 22px;*/
	font-family: 'trebuchet ms',helvetica,sans-serif; 
}
#playerLife{
	border-radius:6px;
	background-color: lime;
	vertical-align: top;
	float: right;
	display: inline-block;
	width: 110px;
	margin-right: 17px;
	/*margin-top: 22px;*/
	font-family: 'trebuchet ms',helvetica,sans-serif; 
}

#computerLife {
	border-radius:6px;
	background-color: red;
	margin-left: 17px;
	margin-top: -80px;
	width:90px;
	position: absolute;
	font-family: 'trebuchet ms',helvetica,sans-serif; 
	bottom: 0;

	
	/*margin-bottom: 5px;*/
}

/*button {
	float: left;
	display: inline-block;
}*/
/*
.img-div {
	text-align: center;
}*/



#battlefield {

	position: relative;
	height: 300px;
	/*border: 2px solid red;*/
	width: 100%;
	/*bottom: 110px;*/
	margin-left: auto;
	margin-right: auto;
	
	/*left: 58.25px;
	right: 58.25px;*/
	background: linear-gradient(#913202, #cdfa86);
/*	padding: 10px;*/
	text-align: center;
/*	display:block;
    overflow:hidden;*/
	
}

#span {
	font-size: ;
}

#market {
	background-color: grey;
	color: black;
 	width: 100%;
	/*height: 35px;*/
 	margin: 0px auto;
 	font-size: 1.3em;
}

#battle {
	width: 100%;
}

#battlefield p {
	text-align: center;
	padding: 22px;

}

.img-div {
	width: 100%;
	margin: 0 auto;
	position: relative;
	text-align: center;

}


.img-div2 {
	/*background: url('http://3.bp.blogspot.com/-LefrPu9dtJs/URvSHwpTlkI/AAAAAAAAEYw/nkgcrtSiSSk/s1600/minecraft-castle-render.png') no-repeat center;*/
	
	/*height: 600px;*/
	width: 100%;
	margin: 0 auto;
	text-align: center;
}


#battle-message {
	height: 100px;
	width: 100%;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	background-color: white;
}



img {
	max-width: 1250px;
	width: 50%;
	height: 250px;
	margin: 0 auto;
	display: block;
	/*changed to half width and half height on 7/31*/
}

body {
	background: linear-gradient(#080f1a, #59926a)
}

#modal {
	padding-top: 35px; /* remove once you get cpu units to populate AFTER player buys from market*/
	height: 35px;
	width: 100%;
	margin: 0 auto;
	text-align:center;
}

#outer
{
    width:100%;
    text-align: center;
 
}
.inner
{
    display: inline-block;
}

button { 
    color:#050; 
    font: old 84% 'trebuchet ms',helvetica,sans-serif; 
    background-color:#fed; 
    border:1px solid; 
    border-color: #696 #363 #363 #696; 
}

#exitShop {
	margin-top: 5px;
	margin-bottom: 5px;
}

@media (max-width: 768px) {
#battlefield {height: 350px};
}

@media (max-width: 480px) {
#battlefield {height: 525px};
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em,  ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}